openapi: 3.2.0
info:
  title: Reference Pods API
  version: 1.0.0
servers:
- url: https://api.agentmail.to
  description: prod
- url: https://x402.api.agentmail.to
  description: prod-x402
- url: https://mpp.api.agentmail.to
  description: prod-mpp
- url: https://api.agentmail.eu
  description: eu-prod
tags:
- name: pods
paths:
  /v0/pods:
    get:
      operationId: list
      summary: List Pods
      description: '**CLI:**

        ```bash

        agentmail pods list

        ```'
      tags:
      - pods
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__Limit'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__PageToken'
      - name: ascending
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__Ascending'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pods_ListPodsResponse'
    post:
      operationId: create
      summary: Create Pod
      description: '**CLI:**

        ```bash

        agentmail pods create --client-id my-pod

        ```'
      tags:
      - pods
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pods_Pod'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ValidationErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pods_CreatePodRequest'
  /v0/pods/{pod_id}:
    get:
      operationId: get
      summary: Get Pod
      description: '**CLI:**

        ```bash

        agentmail pods get --pod-id <pod_id>

        ```'
      tags:
      - pods
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pods_Pod'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
    delete:
      operationId: delete
      summary: Delete Pod
      description: '**CLI:**

        ```bash

        agentmail pods delete --pod-id <pod_id>

        ```'
      tags:
      - pods
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
components:
  schemas:
    type__ErrorFix:
      type: string
      description: The concrete next action that resolves the error.
      title: ErrorFix
    type_pods_CreatePodRequest:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pods_Name'
        client_id:
          $ref: '#/components/schemas/type_pods_ClientId'
      title: CreatePodRequest
    type_pods_Pod:
      type: object
      properties:
        pod_id:
          $ref: '#/components/schemas/type_pods_PodId'
        name:
          $ref: '#/components/schemas/type_pods_Name'
        updated_at:
          type: string
          format: date-time
          description: Time at which pod was last updated.
        created_at:
          type: string
          format: date-time
          description: Time at which pod was created.
        client_id:
          $ref: '#/components/schemas/type_pods_ClientId'
      required:
      - pod_id
      - name
      - updated_at
      - created_at
      title: Pod
    type__PageToken:
      type: string
      description: Page token for pagination.
      title: PageToken
    type__Count:
      type: integer
      description: Number of items returned.
      title: Count
    type__ErrorMessage:
      type: string
      description: Error message.
      title: ErrorMessage
    type__ErrorCode:
      type: string
      description: Stable, machine-readable error code in snake_case (for example, not_found or missing_permission). Branch on this rather than the message text.
      title: ErrorCode
    type__Limit:
      type: integer
      description: Limit of number of items returned.
      title: Limit
    type_pods_ClientId:
      type: string
      description: Client ID of pod.
      title: ClientId
    type__ValidationErrorResponse:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type__ErrorName'
        code:
          $ref: '#/components/schemas/type__ErrorCode'
        message:
          $ref: '#/components/schemas/type__ErrorMessage'
        errors:
          description: Validation errors. Each entry has a path and a message identifying the invalid field.
        fix:
          $ref: '#/components/schemas/type__ErrorFix'
        docs:
          $ref: '#/components/schemas/type__ErrorDocs'
      required:
      - name
      - errors
      title: ValidationErrorResponse
    type__ErrorName:
      type: string
      description: Name of error.
      title: ErrorName
    type_pods_Name:
      type: string
      description: Name of pod.
      title: Name
    type_pods_ListPodsResponse:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/type__Count'
        limit:
          $ref: '#/components/schemas/type__Limit'
        next_page_token:
          $ref: '#/components/schemas/type__PageToken'
        pods:
          type: array
          items:
            $ref: '#/components/schemas/type_pods_Pod'
          description: Ordered by `created_at` descending.
      required:
      - count
      - pods
      title: ListPodsResponse
    type__ErrorResponse:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type__ErrorName'
        code:
          $ref: '#/components/schemas/type__ErrorCode'
        message:
          $ref: '#/components/schemas/type__ErrorMessage'
        fix:
          $ref: '#/components/schemas/type__ErrorFix'
        docs:
          $ref: '#/components/schemas/type__ErrorDocs'
      required:
      - name
      - message
      title: ErrorResponse
    type_pods_PodId:
      type: string
      description: ID of pod.
      title: PodId
    type__Ascending:
      type: boolean
      description: Sort in ascending temporal order.
      title: Ascending
    type__ErrorDocs:
      type: string
      description: Link to the error reference entry for this code.
      title: ErrorDocs
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
