openapi: 3.2.0
info:
  title: Reference inboxes > events API
  version: 1.0.0
servers:
- url: https://api.agentmail.to
  description: prod
- url: https://x402.api.agentmail.to
  description: prod-x402
- url: https://mpp.api.agentmail.to
  description: prod-mpp
- url: https://api.agentmail.eu
  description: eu-prod
tags:
- name: inboxes > events
paths:
  /v0/inboxes/{inbox_id}/events:
    get:
      operationId: list
      summary: List Inbox Events
      description: 'List label change events for an inbox. Returns events in reverse chronological order by default. Use for IMAP UID projection or audit logging.


        **CLI:**

        ```bash

        agentmail inboxes:events list --inbox-id <inbox_id>

        ```'
      tags:
      - inboxes > events
      parameters:
      - name: inbox_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_inboxes_InboxId'
      - name: limit
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__Limit'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__PageToken'
      - name: ascending
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__Ascending'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_inbox-events_ListInboxEventsResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
components:
  schemas:
    type__ErrorFix:
      type: string
      description: The concrete next action that resolves the error.
      title: ErrorFix
    type__PageToken:
      type: string
      description: Page token for pagination.
      title: PageToken
    type__Count:
      type: integer
      description: Number of items returned.
      title: Count
    type_inbox-events_InboxEvent:
      type: object
      properties:
        organization_id:
          $ref: '#/components/schemas/type__OrganizationId'
        pod_id:
          type: string
          description: ID of pod.
        inbox_id:
          $ref: '#/components/schemas/type_inboxes_InboxId'
        event_id:
          $ref: '#/components/schemas/type_inbox-events_InboxEventId'
        event_type:
          $ref: '#/components/schemas/type_inbox-events_InboxEventType'
        message_id:
          type: string
          description: ID of message.
        label:
          type: string
          description: Label added or removed.
        event_at:
          type: string
          format: date-time
          description: Time at which the event occurred.
        created_at:
          type: string
          format: date-time
          description: Time at which the event was recorded.
      required:
      - organization_id
      - pod_id
      - inbox_id
      - event_id
      - event_type
      - message_id
      - label
      - event_at
      - created_at
      title: InboxEvent
    type__ErrorMessage:
      type: string
      description: Error message.
      title: ErrorMessage
    type__ErrorCode:
      type: string
      description: Stable, machine-readable error code in snake_case (for example, not_found or missing_permission). Branch on this rather than the message text.
      title: ErrorCode
    type__Limit:
      type: integer
      description: Limit of number of items returned.
      title: Limit
    type_inboxes_InboxId:
      type: string
      description: The ID of the inbox.
      title: InboxId
    type_inbox-events_ListInboxEventsResponse:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/type__Count'
        limit:
          $ref: '#/components/schemas/type__Limit'
        next_page_token:
          $ref: '#/components/schemas/type__PageToken'
        events:
          type: array
          items:
            $ref: '#/components/schemas/type_inbox-events_InboxEvent'
          description: Ordered by `event_id` descending.
      required:
      - count
      - events
      title: ListInboxEventsResponse
    type_inbox-events_InboxEventType:
      type: string
      enum:
      - label.added
      - label.removed
      description: 'Type of inbox event. Wire format is dot.case to match the

        convention used by webhook events (`message.received`,

        `domain.verified`, etc. in events.yml). Pre-2026-04 these were

        `label_added`/`label_removed` (snake_case). The Fern enum''s `name`

        field stays uppercase-snake (Fern convention); only the wire

        `value` changed.'
      title: InboxEventType
    type__ErrorName:
      type: string
      description: Name of error.
      title: ErrorName
    type__ErrorResponse:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type__ErrorName'
        code:
          $ref: '#/components/schemas/type__ErrorCode'
        message:
          $ref: '#/components/schemas/type__ErrorMessage'
        fix:
          $ref: '#/components/schemas/type__ErrorFix'
        docs:
          $ref: '#/components/schemas/type__ErrorDocs'
      required:
      - name
      - message
      title: ErrorResponse
    type_inbox-events_InboxEventId:
      type: string
      description: ID of event.
      title: InboxEventId
    type__OrganizationId:
      type: string
      description: ID of organization.
      title: OrganizationId
    type__Ascending:
      type: boolean
      description: Sort in ascending temporal order.
      title: Ascending
    type__ErrorDocs:
      type: string
      description: Link to the error reference entry for this code.
      title: ErrorDocs
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
