openapi: 3.2.0
info:
  title: Reference pods > lists API
  version: 1.0.0
servers:
- url: https://api.agentmail.to
  description: prod
- url: https://x402.api.agentmail.to
  description: prod-x402
- url: https://mpp.api.agentmail.to
  description: prod-mpp
- url: https://api.agentmail.eu
  description: eu-prod
tags:
- name: pods > lists
paths:
  /v0/pods/{pod_id}/lists/{direction}/{type}:
    get:
      operationId: list
      summary: List Entries
      description: '**CLI:**

        ```bash

        agentmail pods:lists list --pod-id <pod_id> --direction <direction> --type <type>

        ```'
      tags:
      - pods > lists
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: direction
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_Direction'
      - name: type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_ListType'
      - name: limit
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__Limit'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type__PageToken'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_lists_PodListListEntriesResponse'
    post:
      operationId: create
      summary: Create List Entry
      description: '**CLI:**

        ```bash

        agentmail pods:lists create --pod-id <pod_id> --direction <direction> --type <type> --entry user@example.com

        ```'
      tags:
      - pods > lists
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: direction
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_Direction'
      - name: type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_ListType'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_lists_PodListEntry'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ValidationErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_lists_CreateListEntryRequest'
  /v0/pods/{pod_id}/lists/{direction}/{type}/{entry}:
    get:
      operationId: get
      summary: Get List Entry
      description: '**CLI:**

        ```bash

        agentmail pods:lists get --pod-id <pod_id> --direction <direction> --type <type> --entry <entry>

        ```'
      tags:
      - pods > lists
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: direction
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_Direction'
      - name: type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_ListType'
      - name: entry
        in: path
        description: Email address or domain.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_lists_PodListEntry'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
    delete:
      operationId: delete
      summary: Delete List Entry
      description: '**CLI:**

        ```bash

        agentmail pods:lists delete --pod-id <pod_id> --direction <direction> --type <type> --entry <entry>

        ```'
      tags:
      - pods > lists
      parameters:
      - name: pod_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pods_PodId'
      - name: direction
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_Direction'
      - name: type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_lists_ListType'
      - name: entry
        in: path
        description: Email address or domain.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
components:
  schemas:
    type__ErrorFix:
      type: string
      description: The concrete next action that resolves the error.
      title: ErrorFix
    type_lists_Direction:
      type: string
      enum:
      - send
      - receive
      - reply
      description: Direction of list entry.
      title: Direction
    type__PageToken:
      type: string
      description: Page token for pagination.
      title: PageToken
    type_lists_ListType:
      type: string
      enum:
      - allow
      - block
      description: Type of list entry.
      title: ListType
    type_lists_CreateListEntryRequest:
      type: object
      properties:
        entry:
          type: string
          description: Email address or domain to add.
        reason:
          type: string
          description: Reason for adding the entry.
      required:
      - entry
      title: CreateListEntryRequest
    type__Count:
      type: integer
      description: Number of items returned.
      title: Count
    type__ErrorMessage:
      type: string
      description: Error message.
      title: ErrorMessage
    type__ErrorCode:
      type: string
      description: Stable, machine-readable error code in snake_case (for example, not_found or missing_permission). Branch on this rather than the message text.
      title: ErrorCode
    type__ValidationErrorResponse:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type__ErrorName'
        code:
          $ref: '#/components/schemas/type__ErrorCode'
        message:
          $ref: '#/components/schemas/type__ErrorMessage'
        errors:
          description: Validation errors. Each entry has a path and a message identifying the invalid field.
        fix:
          $ref: '#/components/schemas/type__ErrorFix'
        docs:
          $ref: '#/components/schemas/type__ErrorDocs'
      required:
      - name
      - errors
      title: ValidationErrorResponse
    type_lists_PodListListEntriesResponse:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/type__Count'
        limit:
          $ref: '#/components/schemas/type__Limit'
        next_page_token:
          $ref: '#/components/schemas/type__PageToken'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/type_lists_PodListEntry'
          description: Ordered by entry ascending.
      required:
      - count
      - entries
      title: PodListListEntriesResponse
    type__Limit:
      type: integer
      description: Limit of number of items returned.
      title: Limit
    type__ErrorName:
      type: string
      description: Name of error.
      title: ErrorName
    type__ErrorResponse:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type__ErrorName'
        code:
          $ref: '#/components/schemas/type__ErrorCode'
        message:
          $ref: '#/components/schemas/type__ErrorMessage'
        fix:
          $ref: '#/components/schemas/type__ErrorFix'
        docs:
          $ref: '#/components/schemas/type__ErrorDocs'
      required:
      - name
      - message
      title: ErrorResponse
    type_pods_PodId:
      type: string
      description: ID of pod.
      title: PodId
    type__OrganizationId:
      type: string
      description: ID of organization.
      title: OrganizationId
    type_lists_PodListEntry:
      type: object
      properties:
        entry:
          type: string
          description: Email address or domain of list entry.
        organization_id:
          $ref: '#/components/schemas/type__OrganizationId'
        reason:
          type: string
          description: Reason for adding the entry.
        direction:
          $ref: '#/components/schemas/type_lists_Direction'
        list_type:
          $ref: '#/components/schemas/type_lists_ListType'
        entry_type:
          $ref: '#/components/schemas/type_lists_EntryType'
        created_at:
          type: string
          format: date-time
          description: Time at which entry was created.
        read_only:
          type: boolean
          description: Whether the entry is read-only and cannot be deleted via the API.
        pod_id:
          type: string
          description: ID of pod.
        inbox_id:
          type: string
          description: ID of inbox, if entry is inbox-scoped.
      required:
      - entry
      - organization_id
      - direction
      - list_type
      - entry_type
      - created_at
      - pod_id
      title: PodListEntry
    type_lists_EntryType:
      type: string
      enum:
      - email
      - domain
      description: Whether the entry is an email address or domain.
      title: EntryType
    type__ErrorDocs:
      type: string
      description: Link to the error reference entry for this code.
      title: ErrorDocs
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
